POSTGRES_USER=postgres_usr
POSTGRES_PASSWORD=postgres_pswd
POSTGRES_DB=contacts_db
POSTGRES_PORT=5433
DATABASE_HOST=localhost

DJANGO_SETTINGS_MODULE=app.settings
DATABASE_URL=postgres://postgres_usr:postgres_pswd@db:5432/contacts_db
REDIS_URL=redis://redis:6379